.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
    margin: 0 auto;
    max-width: 1440px;
    
   
  }
  
  .hero-content {

    max-width: 50%;
  }
  
  .hero-image {
    width: 45%;
  }
  .hero-content h1 {
    font-size: 50px;
    font-weight: bold;
  }
  

  .hero-content p {
    margin: 15px 0;
    color: #555;
    font-size: 16px;
  }
  
  
  .hero-image img {
    width: 600px;
  }

 